// @import "reset";
@import '~element-ui/lib/theme-chalk/index.css';
@import '~element-ui/lib/theme-chalk/display.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900');

html, body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

#app {
  min-height: 100vh;
}

.el-col {
  padding: 15px;
}

.container {
  min-height: calc(100vh - 91px);
  background: #EEEEEE;
  padding: 15px
}

@import "login";
